.bookCard {
    background-color: #68B0AB;
    width: 250px;
    height: 300px;
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    margin: 10px;
}
.bookCardTitle {
    font-size: x-large;
}
.bookCardAuthor {
    font-size: larger;
    font-style: italic;
}
.bookCardPages {
    font-size: medium;
}
.bookCardComment {
    font-size: large;
}
.bookCardRead {
    font-size: large;
}